# dependencies
**/node_modules/

# environment files
**/.env
**/.env.*
!**/.env.example

# next.js
app/.next/
app/out/

# build and logs
build_log.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# misc
.DS_Store
*.pem
